.red{

    color: #FD511A;
}
.navbar-brand img{

    height: 60px;

}
.top-bg{

    background: #F0FFF0;
}
span{
    color: #21B573;
}
.font{
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 70px;

}
body{
    font-family: 'Poppins', sans-serif;
    color: #333;
}
.font2{
     
    color: #6C6B6B;
    
    
}

.second{
 padding: 50px;
}
.nav-link:hover{
    background: #21B573;
    border-radius: 33px;
    padding: 3px;
    color: #fff;

}
.button{

    background: #21B573;
    border-radius: 33px;
    color: #fff;
    padding: 5px 20px
}
.button:hover{
    box-shadow: 3px 3px 10px rgb(70, 228, 8);
    padding: 7px 25px;
    transition: .5s;

}
.card img{
    width: 25%;
    height: 40%;
    padding-top: 10px;
}
.card{
    align-items: center;
    background: rgb(246, 252, 253);
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px gray;
}
.card:hover{

    transition: 1s ;
    background: #fff;
    box-shadow: none;


}
.part2 img{

    width: 100%  ; 
    height: 50% ;
}
.card-title{
    color: #413960;;
}
.card-text{
    color: #585859;
}


#courses img {
    width: 24px;
    height: 34px;
    padding-top:15px;
    
    }

.man img{

    width: 100px;
    height: 100px;
    margin-right: 5px;
}
.test{
    height: 550px;
    padding: 100px;
}




.main{
    padding-left:80px ;
 
    background: #282531;
     
    
}

.part-1{

    padding-top: 100px;
    
    
}
.part-1 p{
    
        color: gray;
  
}
.parent a{
    color: gray;
    text-decoration: none;
    font-size: 14px;
}
.parent a:hover{
    color: #fff;
}
